### A CI workflow template that runs linting and python testing
### TODO: Modify as needed or as desired.

name: Test tap-adp

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_adp/**
    - tests/**
    - pyproject.toml
    - tox.ini
    - uv.lock
  pull_request:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_adp/**
    - tests/**
    - pyproject.toml
    - tox.ini
    - uv.lock
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
    - run: pipx install tox
    - name: Run Tox
      run: |
        tox -e $(echo py${{ matrix.python-version }} | tr -d .)
